body {
  margin: 0;
}
.container {
  height: 850px;
  width: 100%;
  background: #f0f2f5;
}
.footer {
  height: 156px;
  width: 100%;
  background: #ffffff;
}
img {
  height: 50px;
  width: auto;
  padding-left: 40px;
  padding-top: 205px;
}
h2 {
  direction: ltr;
  margin: 0;
  padding-left: 40px;
  color: #1c1e21;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  width: auto;
}
.login {
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 10px;
  font-family: inherit;
  height: 300px;
}
.box{
  height: 30px;
  width: 50%;
  padding: 14px 16px;
}