body {
  margin: 0;
}
.container {
  height: 850px;
  width: 100%;
  background: #f0f2f5;
}
.footer {
  height: 156px;
  width: 100%;
  background: #ffffff;
}
img {
  height: 50px;
  width: auto;
  padding-left: 40px;
  padding-top: 205px;
}
h2 {
  direction: ltr;
  margin: 0;
  padding-left: 40px;
  color: #1c1e21;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  width: auto;
}
.login {
  height: 100px;
  width: 100px;
  float: right;

  background: #5d1010;
}
