.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1{
    grid-row: 1/3;
    grid-column: 1/7;
}
.item-2{
    /* spankeyword that use simplify use of 2 size but it effect on resizing the box */
    /* grid-row: span 2; 
    grid-column: span 2; */

    grid-area: 2 /4/4/6;
    z-index: 1;
}
.item-3{
    /* grid-area: row-start col-start row-end col-end; this is faster than grid-colum and row */
    /* grid-area: 3 / 1/ 7/ 7; */
    grid-area: 3 / 1/ -1/ -1;
}